.hero_tittle {
  width: 618px;
  height: 128px;
  top: 215px;
  left: 175px;
  gap: 0px;
  opacity: 0px;
}
.hero_tittle p {
  font-family: Clash Display;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  text-align: left;
}

.subheading {
  width: 638px;
  height: 56px;
  top: 367px;
  left: 175px;
  gap: 0px;
  opacity: 0.5px;
}
.subheading p {
  font-family: Clash Display;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
}
.spray {
  width: 317px;
  height: 230px;
  top: 152px;
  left: 341px;
  gap: 0px;
  opacity: 0px;
}


.hero_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 374px;
  height: 60px;
  top: 447px;
  left: 175px;
  gap: 20px;
  margin-top: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}
.black_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  top: 447px;
  left: 175px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgba(255, 255, 255, 1);
  background: #000000;
  color: #fff;
}
.video_button {
  width: 154px;
  height: 29px;
  top: 462px;
  left: 395px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.videobutton {
    width: 154px;
    height: 29px;
    top: 462px;
    left: 395px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    
}

.bottom_img {
  width: 569px;
  height: 357.74px;
  top: 523.75px;
  left: 141px;
  gap: 0px;
  opacity: 0px;
}
.right_img {
  width: 442px;
  height: 645px;
  top: 188px;
  left: 823px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}


.spray2{
    z-index: -1;
    position: absolute;
    margin-top: -250px;

}
.spray3{
  z-index: -100;
position: absolute;
margin-top: -250px;
}
.front{
  position: absolute;
  z-index: -2;
 transform: scale(0.7);
 margin-top: -100px;



}
.front2{
 
  position: absolute;
  z-index: -1;
 transform: scale(0.7);
 
  
  

  

}
.right_section{
  margin-top: -50px;
}
